.services {
  text-align: center;
  
}

.services h1 {
  font-family: 'Your_Elegant_Font_Family', sans-serif;
  color: white;
  font-size: 32px;
}

.services-containernew {
  display: flex;
  justify-content: space-evenly; /* Updated to space-evenly */
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}

.service-card {
  width: 250px;
  height: 250px;
  perspective: 1000px;
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 10px;
}

.front {
  background-color: #fff;
  transform: rotateY(0deg);
  transition: transform 0.6s;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
 
}

.back {
  background-color: wheat; /* Changed background color with low opacity */
  transform: rotateY(180deg) ;
  transition: transform 0.6s;
  padding: 10px;
  font-family: 'Your_Elegant_Font_Family', sans-serif;
  flex-direction: column; /* Updated to flex direction column */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  /* z-index: 0; */
  
}

.service-card:hover .front {
  transform: rotateY(-180deg);
  
  z-index: 0;
}

.service-card:hover .back {
  transform: rotateY(0deg) scale(1.5) ;
  position: relative;
  z-index: 1;

  /* z-index: 9999; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.back h2 {
  font-size: 1.5rem; /* Adjust font size for heading */
  margin-bottom: 10px; /* Add margin for spacing */
}

p {
  font-size: 1rem; /* Adjust font size for description */
}
