.eye-container {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 75px;
    
  }
  
  .eye-container img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 150px;
    height: 75px;
    
  }
  
  @keyframes blink {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }
  
  .closed-eye {
    animation: blink 6s infinite; 
  }
  .open-eye{
    animation: blink 6s infinite;
  }
  